/*Global style
----------------------------*/
html{
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing:inherit;
  }

body{
    color:#343434;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    line-height:1.5;
}
img{
    width: 300px;
}
a{
    color: #FFE66D;
}
a:hover {
    text-decoration: none;
}
h1{
    font-size: 100px;
    line-height: 1;
    
}
h2{
    font-size: 45px;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}
h3{
    margin-bottom:0;

}
.content-wrap{
    width:900px;
    margin:0 auto;
    padding: 60px 0px;
}
.item-details h3 + p {
    font-style:italic;
}
.item-details h3~p{
    margin:0;
}
.divider > section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}

.divider > section:last-of-type{
    border-bottom:none;
}

 
/*Profile
----------------------------*/
header{
    background-color:#2f3061;
    color:#F7FFF7;
    text-align:center;
    
}

/*Project 
----------------------------*/
.project{
    background: #F7FFF7;
}
.project a {
    color: #F7FFF7;
    background-color: #2F3061;
    text-decoration: none;
    padding:8px;
    border-radius: 8px;
    display: inline-block;
     
}
.project a:hover {
    background: rgba(47, 48, 97, 80%);
}
.project-item{
    overflow:hidden;
    
}

.project-item img{
    float:left;
    margin-right: 20px;
   

}

/*Work Experience 
----------------------------*/
.work{
    background-color: #A1C6D7;
}
.job-item{
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    
}
/* Education  
----------------------------*/
.education{
    background-image:url("../img/joanna-kosinska-unsplash.jpg");
}

/* Contact Info
----------------------------*/
footer{
    background-color: #343434;
    color:#F7FFF7;
    text-align:center;
}
 
#project-video{
    margin: 400px auto 0px;
    
}
.contact{
    list-style-type:none;
    padding:0px;
    display: flex;


    justify-content: center;
}
.contact a{
        padding:15px;
        display: inline-block;
}